@import './TotalPrice.scss';
@import './SingleProduct.scss';
@import './CurrentStock.scss';
@import './reset.scss';
html {
  font-family: "Hind Vadodara","Helvetica Neue",Helvetica,sans-serif;
}

.container {
  margin: 0 0.5rem;
}

.app {
  width: 100vw;
  display: grid;

  .header {
    display: none;
  }
}