.header {
    display: grid;
    grid-template-areas: 
    'title'
    'quantity'
    ;
    // grid-template-rows: auto ;
    color: white;

    text-shadow: 0px 0px 20px #000000;

    background-image: url('https://www.mymarios.com/site/wp-content/uploads/1972/06/burgers-classic-burger.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    &__title {
        display: grid;
        align-items: center;
        grid-area: title;
        width: 100%;
        height: 10rem;
        // max-height: 8rem;
        // min-height: 10rem;
        font-size: 3rem;
        font-weight: 900;
        text-align: center;
        padding: 2rem;

    }

    &__basketQuantity {
        position: relative;
        grid-area: quantity;
        text-align: end;
        // padding-top: 0.5rem;
        padding-right: 0.2rem;
        font-size: 1rem;
    }
}

.header:hover .header__title,
.header:focus .header__title {
  transform: scale(1.2);
  transition: all .5s;

}