.totalPrice {
    position: absolute;
    bottom: 0;
    display: grid;
    height: 3rem;
    width: calc(100% - 1.5rem);
    &__button {
        height: 9rem;
        color: white;
        background-color: #266abd;
        font-size: 1.2rem;
        width: auto;
        height: 100%;
    }
}